@model IEnumerable<tz_lib24.Models.Books>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.title)</th>
            <th>@Html.DisplayNameFor(model => model.author)</th>
            <th>@Html.DisplayNameFor(model => model.code)</th>
            <th>@Html.DisplayNameFor(model => model.year)</th>
            <th>@Html.DisplayNameFor(model => model.publisher)</th>
            <th>@Html.DisplayNameFor(model => model.shelf)</th>
            <th>@Html.DisplayNameFor(model => model.quantity)</th>
            <th>@Html.DisplayNameFor(model => model.issue_date)</th>
            <th>@Html.DisplayNameFor(model => model.return_date)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.title)</td>
                <td>@Html.DisplayFor(modelItem => item.author)</td>
                <td>@Html.DisplayFor(modelItem => item.code)</td>
                <td>@Html.DisplayFor(modelItem => item.year)</td>
                <td>@Html.DisplayFor(modelItem => item.publisher)</td>
                <td>@Html.DisplayFor(modelItem => item.shelf)</td>
                <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.issue_date)</td>
                <td>@Html.DisplayFor(modelItem => item.return_date)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

